target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.mvn
/mvnw
/*.cmd
/gateway/mvnw
/gateway/*.cmd
/gateway/.mvn
/register/*.cmd

/register/mvnw
/register/*.cmd
/register/.mvn
/hello-service/.mvn
/hello-service/*.cmd
/hello-service/mvnw
/auth-center/.mvn
/auth-center/mvnw
/auth-center/*.cmd
/micro-a-service/mvnw
/micro-a-service/*.cmd
/micro-a-service/.mvn
/upload-service/mvnw
/upload-service/*.cmd
/upload-service/.mvn
/monitor/.mvn
/monitor/mvnw
/monitor/mvnw.cmd
/resource/mvnw
/resource/mvnw.cmd
/resource/.mvn
/mss-common/mvnw
/mss-common/mvnw.cmd
/mss-modules/mvnw.cmd
/mss-modules/mvnw
/mss-modules/mss-upms/mvnw.cmd
/mss-modules/mss-upms/mvnw
/mss-common/.mvn
/mss-upms/.mvn
