server:
  port: 9022
spring:
  application:
    name: order-service
eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
  client:
    service-url:
      defaultZone: http://register1:9010/eureka/,http://register2:9011/eureka/

endpoints:
  health:
    sensitive: false
management:
  security:
    enabled: false


